<section class="container">
  <h3 class="post-name">Vent yourself away!</h3>
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    <section class="card">
      {{!-- <a href="/post/{{id}}"> --}}
        <header>{{post.title}}</header>

        <div class="card-body">
          <p>{{post.content}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>
