<section class="container">
  <h3 class="post-name">{{topic.name}}</h3>
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    <section class="card">
      <a href="/post/{{id}}">
        <header>{{post.name}}</header>

        <div class="card-body">
          <p>{{post.text}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>